h1 {
    color: red;
}

.theme{
    background: red;
    width: 100%;
}
.center{
    background: white;
    width: 100%;
    margin: auto;
}
.right{
    width:	20%;
    background-color:	white;
    float:	right;
    /*padding:	10px;*/
    padding:	15px;
    border:0.5px	solid	black;
    /*margin: 5px;*/

}
.left{
    width: 70%;
    /*float:right;*/
    background-color:	white;
    padding:	15px;
    border: 0.5px solid black;
    /*margin: 5px;*/
}


